<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости на сайте</title>
</head>
<body>

    <h1>Последние новости</h1>

    <ul>
        {% for article in news %}
        <li>
            <h4>{{ article.title }}</h4>
            <p>{{ article.anons }}</p>
            <p>{{ article.full_text }}</p>
            <p>{{ article.date }}</p>
            <a href="{% url 'news-detail' article.id %}" class="btn btn-warning">Читать детальнее</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>